Repository RepoCodeGanesh/terraformVM-Network: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.prod.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines.prod.yml: any of: **/*.tf, azure-pipelines.prod.yml
  azure-pipelines.yml: any of: **/*.tf, azure-pipelines.yml, azure-pipelines.prod.yml

feat: Add environment-specific Terraform configuration files for dev, prod, and staging
  terraform.dev.tfvars
  terraform.prod.tfvars
  terraform.staging.tfvars
Due: none

feat: Add production-grade Terraform pipeline with validation, planning, and apply stages
  azure-pipelines.prod.yml
  azure-pipelines.yml
Due: azure-pipelines.prod.yml, azure-pipelines.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

feat: Migrate to new production-grade Terraform pipeline configuration
  azure-pipelines.prod.yml
  azure-pipelines.yml
Due: azure-pipelines.prod.yml, azure-pipelines.yml

Create pipelines
  pipelines
Due: none

Delete pipelines
  pipelines
Due: none

Create terraform-ci.yaml
  pipelines/terraform-ci.yaml
Due: none

Delete terraform.dev.tfvars
  terraform.dev.tfvars
Due: none

Delete terraform.prod.tfvars
  terraform.prod.tfvars
Due: none

Delete terraform.staging.tfvars
  terraform.staging.tfvars
Due: none

Delete terraform.tfvars.example
  terraform.tfvars.example
Due: none

Delete azure-pipelines.prod.yml
  azure-pipelines.prod.yml
Due: azure-pipelines.prod.yml, azure-pipelines.yml

Delete azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Create Terraform CI pipeline configuration
  pipelines/terraform-ci.yaml
Due: none

Fix: Add Azure authentication variables to terraform plan step
  pipelines/terraform-ci.yaml
Due: none

Fix: Add error handling to terraform plan step - fail on errors with set -e and failOnStderr
  pipelines/terraform-ci.yaml
Due: none

Fix: Remove redundant TF_VAR_client_secret and add Azure auth env vars to all Terraform tasks
  pipelines/terraform-ci.yaml
Due: none

Improve security: Remove explicit ARM credentials from environment variables
  pipelines/terraform-ci.yaml
Due: none

Fix: Add ARM environment variables to Terraform Plan task
  pipelines/terraform-ci.yaml
Due: none

feat: add TF_VAR_client_secret environment variable to Terraform Plan step
  pipelines/terraform-ci.yaml
Due: none

Update terraform-ci.yaml
  pipelines/terraform-ci.yaml
Due: none

Update variables.tf
  variables.tf
Due: azure-pipelines.prod.yml, azure-pipelines.yml

Update terraform-ci.yaml for terrfaorm task
  pipelines/terraform-ci.yaml
Due: none

Create terraform_summary.py
  scripts/terraform_summary.py
Due: none

Update terraform_summary.py
  scripts/terraform_summary.py
Due: none

Update terraform-ci.yaml with github
  pipelines/terraform-ci.yaml
Due: none
